# 数据文件夹（你要忽略的核心）
data/
# # 模型权重
# *.pt
# *.pth
# *.pkl
# *.h5
# Python 缓存
__pycache__/
*.pyc
*.pyo
# 环境配置
.env/
venv/
# IDE 配置
.idea/
.vscode/
 

# 训练结果、日志、模型（重点！）
result/**/*.json
result0/
*.log
*.pt
*.pth
*.h5
*.ckpt
*.json
*.filepart